@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-image: url("https://wallpaperaccess.com/full/8090853.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.footer{
    text-align: center;
}